/*	Web App Part 4 CSS Elements
	by Eric Mareth
	for Visual Frameworks FSO
	Term 1212
*/


*{
	font-family: "Trebuchet MS" ;
}

html {
	background-image: -webkit-gradient(linear,
		0% 0%, 
		0% 30%, 
		from(#89622E), 
		to(#E9D6BE));
	background-image: -moz-linear-gradient(270deg, #89622E, #E9D6BE 30%);
	background-image: -o-linear-gradient(270deg, #89622E, #E9D6BE 30%);
	overflow: scroll;
	
}

h1 {
	font-family: Courier;
	padding:10px 0px;
	text-align: center;
	color: #4682b4;
	background: #fff;
	border-radius:20px;
	box-shadow: inset 7px -7px 30px #496b87;
	margin-bottom: 45px;
}

h2{
	font-style:oblique;
	text-align: center;
}

h2:nth-of-type(2){
	font: normal bold 30px/10px Courier;
	color: #4682b4;
} 

h3{
	font-family: Courier;
	text-align: center;
	text-transform: capitalize;
	margin: 200px 0px 50px 0px;
	text-shadow: 0 0 8px red;
}


p > a[href*=add]:not(#addChar) {
	margin: 65px;
	padding: 10px 18px;
	background: white;
	border: 6px double #174a75;
	box-shadow: -7px 7px 50px #9e8d76;
}

p {
	text-align: center;
}

span:not(#charAge) {
	font-style: italic;
}

label > span{
	color: SteelBlue;
}

[type = "range"]{
	 margin-top: 10px;
	 width: 200px;
}

[type = "radio"]{
	 width: 30px;
}


span + ul{
	color: red;
	font-style: italic;
}

div > ul{
	list-style: none;
	margin-left: -40px;
}

li {
	list-style: none;
	margin-left: -30px;
}

#charAdjust{
	padding-top:15px;
}

div > ul > li{
	border: 6px groove steelBlue;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0px;
	background: ghostWhite;
}

li > label[for=town]{
	color: gray;
}


fieldset {
	background: white;
	margin-bottom: 25px;
	line-height: 28px;
	box-shadow: 10px 10px 20px #9e8d76;

}


legend {
	font-family: Courier;
	font-style: italic;
	background: white;
	padding: 2px 10px 3px 10px;
	outline: 2px solid gray;
	color: #4682b4;
}

form > fieldset:last-of-type label{
	display: block;
}

textarea{
	width: 250px;
	height: 50px;
}

a{
	padding: 8px;
	margin:0px 2px;
	color:#76acda;
	border-radius: 10px;
	background: ghostWhite;
}

a:active{
	color:#90b8da;
	background: white;
}

[type=button]{
	margin: 10px 5px;
	width: 350px;
	height:50px;
	background: #174a75;
	color: ghostWhite;
	font-weight: bold;
	border: 5px outset buttonface;
	font-size: 18px;
}

[type=button]:active{
	margin: 10px 5px;
	width: 350px;
	height:50px;
	background: #4682b4;
	color: ghostWhite;
	font-weight: bold ;
	font-size: 18px;
}

